body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #EDEDED;
}

.container {
    max-width: 50rem;
    margin: 3.75rem auto;
    padding: 2.5rem;
    background-color: #f9f9f9;
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.08);
    border-radius: 0.625rem;
}

h1 {
    color: #526584;
    font-size: 2rem;
    margin-bottom: 31.875rem;
    text-align: center;
}

.back {
    border-radius: 0.875rem;
    background-color: black;
    padding: 0.625rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.875rem auto;
    width: 9.375rem;
}

.back a {
    flex: 1;
    text-decoration: none;
    color: white;
}

